$_beige: #E0D5C3;
$_navy: #3A2960;
$_white: #FFFFFF;
$_white-dirty: #FFFDFD;
$_black: #000000;
$_black-light: #323234;
$_green: #d6ff43;
$_green-hover: darken($_green, 15%);
$_green-pressed: darken($_green, 20%);
$_gray: #C9CACD;
$_gray-middle: #E9E9EA;
$_gray-light: #EFEFEF;
$_gray-dark: #93959A;

$text-color-main: $_black-light;
$text-color-gray: $_gray;
$text-color-gray-middle: $_gray-middle;
$text-color-gray-dark: $_gray-dark;
$text-color-white: $_white;
$text-color-green: $_green;
$text-color-green-hover: $_green-hover;
$text-color-green-pressed: $_green-pressed;

$background-color-main: $_green;
$background-color-main-hover: $_green-hover;
$background-color-main-pressed: $_green-pressed;
$background-color-white: $_white;
$background-color-white-dirty: $_white-dirty;
$background-color-black: $_black;
$background-color-black-light: $_black-light;
$background-color-gray: $_gray-light;
$background-color-gray-dark: $_gray-dark;
$background-color-navy: $_navy;

$border-color-green: $_green;
$border-color-green-hover: $_green-hover;
$border-color-green-pressed: $_green-pressed;
$border-color-gray-light: $_gray-light;
$border-color-gray: $_gray;
$border-color-white: $_white;

$box-shadow: 0px 4px 40px rgba($_black, .1);
$box-shadow-green: 0px 2px 25px rgba($_green, .4);

$text-shadow: 1px 1px 2px rgba($_black, 1);

$transition-time-2s: .2s;
$transition-time-1s: .1s;
$background-color-transition-2s: background-color $transition-time-2s;
$background-color-transition-1s: background-color $transition-time-1s;
$text-color-transition-2s: color $transition-time-2s;
$text-color-transition-1s: color $transition-time-1s;
$border-transition-2s: border $transition-time-2s;
$border-transition-1s: border $transition-time-1s;
$box-shadow-transition-2s: box-shadow $transition-time-2s;
$box-shadow-transition-1s: box-shadow $transition-time-1s;
