@import 'utils/constants/variables.scss';
.overlay {
  position: absolute;
  z-index: $z-index-global-window;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  opacity: 0.01;
  &ModalView {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.content {
  box-sizing: border-box;
  z-index: 2;
  background-color: $background-color-white;
  &LeftSide {
    position: absolute;
    width: 640px;
    height: 100%;
    top: 0;
    left: -640px;
    overflow: auto;
    box-shadow: $box-shadow;
  }
  &ModalView {
    position: relative;
    padding: 4px;
    border-radius: 8px;
  }
}
.background {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba($background-color-black, 0.3);
}
.closeIcon {
  position: absolute;
  z-index: 10;
  right: 6px;
  top: 4px;
  width: 24px;
  height: 24px;
  color: $text-color-gray;
  cursor: pointer;
  &:hover {
    color: $text-color-green-hover;
  }
  &:active {
    color: $text-color-green-pressed;
  }
}
@media (max-width: 640px) {
  .content {
    width: 100%;
  }
}
