.transition-global-window-in {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}
.left-side-menu-transition-in {
  left: 0;
  transition: left 0.15s ease-in;
}
.transition-global-window-out {
  opacity: 0.01;
  transition: opacity 0.15s ease-out;
}
.left-side-menu-transition-out {
  left: -640px;
  transition: left 0.15s ease-out;
}
.left-side-menu-transition-in-model {
  left: calc(50vw - 160px);
  transition: left 0.15s ease-in;
}
