{
  "extends": "react-app",
  "rules": {
    "react-hooks/exhaustive-deps": "off"
  },
  "overrides": [
    {
      "files": ["**/*.js?(x)"],
      "rules": {
        "react-hooks/exhaustive-deps": "off"
      }
    }
  ]
}
