.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 0 0 15px 15px;
}
.dateTable {
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.timeSell {
  padding: 3px;
  cursor: pointer;
  border-radius: 10px;
  width: 40px;
  margin: 3px;
  height: 20px;
  background-color: #f8f8f8;
  &Choosed {
    padding: 3px;
    cursor: default;
    border-radius: 10px;
    width: 40px;
    margin: 3px;
    height: 20px;
    background-color: #2dbb54;
  }
}
.timeTable {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.changePersonButton {
  cursor: pointer;
  margin: 0 10px;
  color: #d7d7d7;
  font-size: 30px;
}
.changePersonContainer {
  align-items: center;
  border-radius: 15px;
  background-color: #f8f8f8;
  user-select: none;
  display: flex;
  justify-content: space-around;
}
.containerDatePersons {
  margin: 5px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.personNumber {
  margin: 0 20px;
}
.setDateContainer {
  padding: 0 10px;
  border-radius: 15px;
  background-color: #f8f8f8;
}
.UserContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
}
.userFooter {
  display: flex;
}
.userContent {
  padding: 4px;
  outline: none;
  border-radius: 10px;
  background-color: #f8f8f8;
  width: 135px;
  margin: 1px;
  border-color: transparent;
}
.userComent {
  resize: none;
  padding: 4px;
  outline: none;
  border-radius: 10px;
  background-color: #f8f8f8;
  width: 288px;
  height: 100px;
  margin: 5px;
  border-color: transparent;
}
.advice {
  height: 20px;
  margin: 15px 0;
}
