.container {
  height: 220px;
  border-radius: 10px;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}
