@font-face {
  font-family: 'San Francisco Pro';
  src: local('San Francisco Pro Display Regular'),
    local('San-Francisco-Pro-Display-Regular'),
    url('./SFProDisplay-Regular/SFProDisplay-Regular.woff2') format('woff2'),
    url('./SFProDisplay-Regular/SFProDisplay-Regular.woff') format('woff'),
    url('./SFProDisplay-Regular/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
