@import 'utils/constants/variables.scss';
@import 'utils/fonts/fonts.scss';
.navigation {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 75px;
  min-height: 75px;
  padding: 0 25px;
  font-size: 26px;
  background-color: $background-color-white;
  box-shadow: $box-shadow;
  .left,
  .right,
  .center {
    display: flex;
    align-items: center;
  }
  .center {
    justify-content: center;
    flex: 1;
  }
  .left,
  .right {
    flex: 2;
  }
  .left {
    justify-content: flex-start;
  }
  .right {
    justify-content: flex-end;
  }
}
.logoContainer {
  width: 64px;
  height: 64px;
  margin: 0 20px;
  color: $text-color-main;
}
.textLogo,
.button {
  font-family: 'San Francisco Pro';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-decoration: none;
  color: $text-color-main;
  transition: $text-color-transition-1s;
  cursor: pointer;
  &.active {
    color: $text-color-green;
  }
  &:hover {
    color: $text-color-green-hover;
  }
  &:active {
    color: $text-color-green-pressed;
  }
}

.right > .linkText,
.right > .textNonActive {
  margin-right: 25px;
}

.linkText {
  margin-left: 8px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  &.active {
    color: $text-color-green;
  }
  &:hover {
    color: $text-color-green-hover;
  }
  &:active {
    color: $text-color-green-pressed;
  }
}

.linkDisabled {
  color: $text-color-gray-middle;
  pointer-events: none;
  margin-left: 8px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
}
