@import 'utils/constants/variables.scss';
.wrapper {
  background-color: $background-color-white;
}
.header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 246px;
  &Image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: calc(100% + 20px);
    max-width: 100%;
    max-height: calc(100% + 20px);
    opacity: 1;
    transition: $opacity-transition-1s;
    &.hideImageForAnimation {
      opacity: 0.01;
    }
  }
}
.headerContent {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 25px 20px;
  color: $text-color-white;
  .leftSide,
  .rightSide {
    display: flex;
    flex-direction: column;
    text-shadow: $text-shadow;
  }
  .leftSide {
    align-items: flex-start;
    .rating {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      margin-bottom: 2px;
      font-weight: 700;
      font-size: 12px;
      line-height: 12px;
      background-color: $background-color-black-light;
      border: 2px solid $border-color-white;
      border-radius: 50%;
      overflow: hidden;
      user-select: none;
      &.stub {
        background-color: $background-color-gray-light;
      }
    }
    .title {
      max-width: 220px;
      font-weight: 700;
      font-size: 25px;
      line-height: 33px;
      &.stub {
        width: 160px;
        height: 18px;
        border-radius: 4px;
        background-color: $background-color-gray-light;
      }
    }
  }
  .rightSide {
    align-items: flex-end;
    .morePhotos {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 65px;
      height: 30px;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      background-color: rgba($background-color-black-light, 0.45);
      border: 1px solid $border-color-white;
      border-radius: 17.5px;
      transition: $background-color-transition-2s;
      cursor: pointer;
      &:hover {
        background-color: rgba($background-color-black-light, 0.55);
      }
      &:active {
        background-color: rgba($background-color-black-light, 0.6);
      }
      .photosAmount {
        user-select: none;
      }
      &.stub {
        border-radius: 4px;
        background-color: $background-color-gray-light;
      }
    }
  }
}
.content {
  position: relative;
  box-sizing: border-box;
  padding: 0 15px;
  z-index: 2;
  background-color: $background-color-white;
  border-radius: 20px 20px 0 0;
  &Block {
    box-sizing: border-box;
    padding: 10px 0;
    color: $text-color-main;
    border-bottom: 1px solid rgba($border-color-gray, 0.3);
    &Horizontal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .stubsBlock {
        width: 40%;
      }
    }
    &Heading {
      margin-bottom: 4px;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      &.stub {
        width: 35%;
        height: 18px;
        border-radius: 4px;
        background-color: $background-color-gray-light;
      }
    }
    &Text {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      &.stub {
        width: 70%;
        height: 18px;
        margin: 2px 0;
        border-radius: 4px;
        background-color: $background-color-gray-light;
      }
    }
    &Button {
      width: 260px;
      &.stub {
        height: 45px;
        border-radius: 20px;
        background-color: $background-color-gray-light;
      }
    }
  }
}
.stub {
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 90%;
    background: linear-gradient(
      to right,
      transparent 0%,
      rgba($background-color-gray, 0.5) 50%,
      rgba($background-color-gray, 0.6) 70%,
      transparent 100%
    );
    animation: load 1s infinite cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@keyframes load {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
@media (max-width: 640px) {
  .contentBlockHorizontal {
    align-items: flex-start;
    flex-direction: column;
  }
  .contentBlockButton {
    width: 100%;
    margin: 7px 0 5px;
  }
}
