@import 'utils/constants/variables.scss';
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 0 15px;
  background-color: $background-color-white-dirty;
  box-shadow: $box-shadow;
}
.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: $text-color-gray;
  transition: $text-color-transition-1s;
  cursor: pointer;
  &.active {
    color: $text-color-green;
  }
  &:hover {
    color: $text-color-green-hover;
  }
  &:active {
    color: $text-color-green-pressed;
  }
}
