@import 'utils/constants/variables';
.regestrationText {
}
.regestrationLink {
  border: 2px solid #cacaca;
  padding: 10px 20px;
  border-radius: 20px;
  &:hover {
    border: 2px solid #2dbb54;
    background-color: #cacaca;
  }
}
.regestrationContainer {
  align-items: center;
  width: 100%;
  margin-top: 20px;
  border-top: 2px solid #cacaca;
  display: flex;
  flex-direction: column;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 15px 50px;
  border-radius: 15px;
  background-color: $background-color-white;
  box-shadow: $box-shadow;
}
.textHeading {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 27px;
  line-height: 36px;
  text-align: center;
  color: $text-color-main;
}

.text {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
  color: #000000;
}

.telephoneInput {
  display: flex;
}

.codeRequestButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 20px 20px 0;
  right: 14px;
  position: absolute;
  width: 60px;
  height: 50px;
  background-color: #2dbb54;
}

.codeInput {
  height: 50px;
  border-radius: 20px;
  width: 290px;
  margin-bottom: 40px;
  font-size: 18px;
  outline: none;
  border: 3px solid $border-color-green;
  transition: border $transition-time-1s;
}

.codeInputContainer {
  display: flex;
  width: 290px;
}

.sellInputContainer {
  overflow: hidden;
  transition: height $transition-time-1s;
  &Hide {
    height: 0px;
  }
  &Show {
    height: 140px;
  }
}
