.wrapper {
  display: 'flex';
  width: 90%;
  padding-top: 20%;
  padding-left: 10%;
}
.textHeading {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 27px;
  line-height: 36px;
  text-align: center;
  color: #B3A77D;
}
.text {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
  color: #000000;
}

