.wrapper {
  padding: 10px 0;
  border-top: 1px solid rgba(179, 167, 125, 0.3);
  border-bottom: 1px solid rgba(179, 167, 125, 0.3);
  background-color: #fff;
}
.bottomLineDisabled {
  border-bottom: none;
}
.topLineDisabled {
  border-top: none;
}
