.mapStyle {
  width: 100vw;
  height: 100vh;
}
.textHeading {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  color: #3A2960;
}
.text {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #3A2960;
}
.bottomSheetContent {
  padding: 0 10px;
  background-color: #ffffff;
}

