.sellInput {
  display: flex;
  align-items: center;
}
.sell {
  border: 1px solid #b3a77d;
  font-weight: 500;
  font-size: 21px;
  color: transparent;
  text-shadow: 0 0 0 black;
  text-align: center;
  width: 33px;
  height: 33px;
  margin: 5px;
  outline: none;
}
.focusedSell {
  border: 1px solid #b3a77d;
  font-weight: 500;
  font-size: 21px;
  color: transparent;
  text-shadow: 0 0 0 black;
  text-align: center;
  width: 45px;
  height: 45px;
  margin: 5px;
  outline: none;
}
.sellInputConatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #b3a77d;
}
.alert {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #a14040;
}
