@import "utils/constants/variables";
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
  max-width: 260px;
  border-radius: 20px;
  background-color: $background-color-main;
  transition: $background-color-transition-2s;
  user-select: none;
  cursor: pointer;
  &:hover {
    background-color: $background-color-main-hover;
  }
  &:active {
    background-color: $background-color-main-pressed;
  }
}
.buttonText {
  font-weight: 500;
  font-size: 21px;
  color: $text-color-main;
}
.buttonFullWidth {
  max-width: unset;
}
.buttonDisabled {
  background-color: $background-color-gray;
  &:hover {
    background-color: $background-color-gray;
  }
  &:active {
    background-color: $background-color-gray;
  }
}
