@import 'utils/constants/variables.scss';
.wrapper {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  overflow: hidden;
  &--mobile {
    flex-direction: column;
    justify-content: space-between;
    .wrapperInner {
      height: calc(100vh - #{$mobile-navigation-height});
    }
  }
}
