@import 'utils/constants/variables.scss';
@import 'utils/fonts/fonts.scss';

.searchWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 60px;
  width: 60vw;
}

.searchBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  height: 100%;
  border-radius: 17.5px;
  background-color: $background-color-white;
  box-shadow: $box-shadow;
  transition: $border-transition-2s;
  border: 1px solid $border-color-gray-light;
  &.focused {
    border: 1px solid $border-color-green-hover !important;
  }
  &:hover {
    border: 1px solid $border-color-green;
  }
}

.searchBarInput {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.05em;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 55px;
  color: $text-color-main;
  outline: 0;
  border: none;
  border-radius: inherit;
  &::placeholder {
    color: $_gray-middle;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.05em;
  }
}

.searchIcon {
  position: absolute;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: $_gray-middle;
}

.filtersContainer {
  margin: 0 50px;
  height: 100%;
  width: 206px;
}

.filtersButton {
  outline: none;
  margin: 0;
  border: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid $border-color-green;
    cursor: pointer;
  }
}

.textFilters {
  margin: 0 5px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 0.05em;
}

.geoLocationContainer {
  border: 1px solid white;
  border-radius: 22px;
  min-width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &:hover {
    border: 1px solid $border-color-green;
    cursor: pointer;
  }
}

@media (max-width: 1440px) {
  .filtersContainer {
    width: 120px;
  }
  .searchBarInput {
    &::placeholder {
      font-size: 25px;
    }
  }
  .searchWrapper {
    height: 45px;
  }
  .textFilters {
    font-size: 15px;
  }
}

@media (max-width: 640px) {
  .searchWrapper {
    width: 100%;
  }
}
